<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= User.last.username %>!</h1>
    <p>Welcome to Book Buddy! The all in one platform for all the fellow book worms out there!
      See what other users are saying about books they have read to find your next favorite
      book! Leave comments on books you have read while also keeping track of them in your own
      personal list</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3NwUGyHFZZruk2dX2_xN-yUNbyobFbMnqWQ&usqp=CAU" alt="logo"/>
  </body>
</html>